@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  margin: 0;
  padding: 0;
}

/* Navbar Start Here */

.left_section {
  padding: 0 0 0 16px;
}

.main_btn {
  outline: 0;
  border: 0;
  margin: 0;
  background: none;
  font-family: "Open Sans", sans-serif;
  box-shadow: none !important;
  text-transform: none;
  border-radius: 24px;
  font-size: 14px;
  padding: 6px 16px;
  background-color: #008847;
  height: 32px;
  color: #ffffff;
  font-weight: 600;
  line-height: 20px;
  text-transform: none;
  opacity: 1;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.main_btn:hover,
.long_btn:hover {
  background-color: #115735;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.material-symbols-outlined {
  font-size: 16px !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  border-bottom: 1px solid;
  color: #dcdfe4;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
}

.prof_img {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;
}

.img_btn {
  outline: 0;
  border: 0;
  margin: 0;
  background: none;
  padding: 0;
  cursor: pointer;
}

.img_container {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  width: 30px;
  height: 30px;
}

.img_span {
  display: inline-flex;
  vertical-align: middle;
  margin-left: 12px;
}

.right_upper_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 0;
}

.btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.right_anchor {
  text-decoration: none;
}

.left_anchor {
  margin: 0 18px 0 6px;
}

.svg_container {
  margin-top: 4px;
}

/* Navbar Start End */

/* Body Start Here */

/* Hero Section Start */

.hero_section {
  max-width: 1128px;
  margin: auto;
}

.hero_heading_text {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  font-family: "Open Sans", sans-serif;
  color: #172b4d;
  text-align: center;
  color: #172b4d;
}

.hero_heading {
  padding-top: 48px;
}

.hero_span {
  color: #008847;
}

.cards_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
  margin-bottom: 72px;
}

.upper_card_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lower_card_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_card {
  min-width: 360px;
}

.hero_card_wrapper {
  border: 1px solid;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  border-color: #dcdfe4;
  border-radius: 16px;

  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 24px;
}

.hero_card_wrapper:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  border-color: #008847;
  border-radius: 16px;
}

.card_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero_card > a {
  text-decoration: none;
  color: #2971fe;
}

.hero_card_heading > h5 {
  margin: 0;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 28px;
  color: #172b4d;
}

.card_text_container > h6 {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 20px;
  color: #172b4d;
  color: #626f86;
}

.hero_card_heading {
  display: flex;
  gap: 12px;
  align-items: center;
}

.card_text_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.long_card {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 1128px;
  height: 180px;
}

.long_card_wrapper {
  border: 1px solid;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  padding: 24px;
  gap: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: row;
  background-color: #ffffff;
  border-color: #dcdfe4;
  border-radius: 16px;
  align-items: flex-start;
}

.long_svg {
  width: 24px;
}

.long_left_img {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.long_right_section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.long_right_upper {
  gap: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

.long_upper_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 20px;
}

.long_upper_left .left {
  gap: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.long_right_section h5 {
  margin: 0;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 28px;
  color: #172b4d;
}

.long_right_section h6 {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 20px;
  color: #172b4d;
}

.right h6 {
  font-size: 12px;
}

.long_right_section p {
  margin: 0;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #172b4d;
}

.long_rating_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.long_left_rating,
.long_right_rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.long_upper_left .right,
.feature_rating .left {
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 8px;
}

.btn_span {
  padding-bottom: 1px;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.long_btn {
  font-family: "Open Sans", sans-serif;
  box-shadow: none !important;
  text-transform: none;
  border-radius: 32px;
  font-size: 16px;
  padding: 8px 20px;
  background-color: #008847;
  height: 40px;
  color: #ffffff;
  font-weight: 600;
  line-height: 24px;
  text-transform: none;
  opacity: 1;
  outline: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
}

.long_brand_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  position: relative;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 500px;
}

.long_brand_bg {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    transparent 20%,
    transparent 80%,
    #ffffff 100%
  );
}

.long_brand_img_wrapper {
  padding-top: 4px;
  padding-bottom: 4px;
  overflow: hidden;
  -webkit-box-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-100%);
  }
}

.long_brand_img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 16px;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-name: slide;
  animation-name: slide;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.long_right_lower {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}

.hero_footer {
  box-sizing: border-box;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 16px;
  padding-right: 16px;
  gap: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hero_footer h3 {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  font-family: "Open Sans", sans-serif;
  color: #172b4d;
  text-align: center;
}

.hero_footer p {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #172b4d;
}

.hero_footer_btn_span {
  font-size: 24px !important;
}

/* Hero Section End */

/* Feature Section Start Here */

.feature_section {
  margin-top: 72px;
  min-height: 472px;

  box-sizing: border-box;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  display: block;
  background-color: #fcf7de;
}

.feature_container {
  max-width: 1128px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

.feature_wrapper {
  box-sizing: border-box;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.feature_left {
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  padding: 0px;
  width: 624px;
}

.feature_left h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  font-family: "Open Sans", sans-serif;
  color: #172b4d;

  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}

.feature_left p {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #172b4d;

  width: 100%;
  margin-top: 24px;
  text-align: left;
}

.feature_rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  margin-top: 24px;
  gap: 16px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature_rating .left h6 {
  margin: 0;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 20px;
  color: #172b4d;
}

.feature_left .text {
  margin-top: 40px;
}

.feature_left h6 {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 20px;
  color: #172b4d;
  color: #101214;
}

.feature_buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  margin-top: 16px;
  gap: 12px;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feature_btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.trpt_btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Open Sans", sans-serif;
  box-shadow: none !important;
  text-transform: none;
  border-radius: 32px;
  font-size: 16px;
  padding: 8px 20px;
  background-color: transparent;
  border: 1px solid;
  height: 40px;
  color: #008847;
  font-weight: 600;
  line-height: 0;
  text-transform: none;
  border-color: #008847;
  opacity: 1;
}

.trpt_btn:hover {
  background-color: #00884714;
  border-color: #115735;
  color: #115735 !important;
}

/* Feature Section End Here */

/* Body Start End */
