@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  margin: 0;
  padding: 0;
}

/* Navbar Start Here */

.left_section {
  padding: 0 0 0 16px;
}

/* .right_section {
  padding: 0 15px 0 0;
} */

.main_btn {
  outline: 0;
  border: 0;
  margin: 0;
  background: none;
  font-family: "Open Sans", sans-serif;
  box-shadow: none !important;
  text-transform: none;
  border-radius: 24px;
  font-size: 14px;
  padding: 6px 16px;
  background-color: #008847;
  height: 32px;
  color: #ffffff;
  font-weight: 600;
  line-height: 20px;
  text-transform: none;
  opacity: 1;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.main_btn:hover {
  background-color: #115735;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.material-symbols-outlined {
  font-size: 16px !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  border-bottom: 1px solid;
  color: #dcdfe4;
}

.prof_img {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;
}

.img_btn {
  outline: 0;
  border: 0;
  margin: 0;
  background: none;
  padding: 0;
  cursor: pointer;
}

.img_container {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  width: 30px;
  height: 30px;
}

.img_span {
  display: inline-flex;
  vertical-align: middle;
  margin-left: 12px;
}

.right_upper_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 0;
}

.btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.right_anchor {
  text-decoration: none;
}

.left_anchor {
  margin: 0 18px 0 6px;
}

.svg_container {
  margin-top: 4px;
}

/* Navbar Start End */

/* Body Start Here */

/* Hero Section Start */

.hero_heading_text {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  font-family: "Open Sans", sans-serif;
  color: #172b4d;
  text-align: center;
  color: #172b4d;
}

.hero_heading {
  padding-top: 48px;
  max-width: 1128px;
  margin: auto;
}

.hero_span {
  color: #008847;
}

.hero_all_cards {
  max-width: 1128px;
  margin: auto;
}

.cards_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
  margin-bottom: 72px;
}

.upper_card_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lower_card_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.long_card_container {
  border: 1px solid green;
  width: 100%;
  height: 124px;
}

.hero_card {
  min-width: 360px;
}

.hero_card_wrapper {
  border: 1px solid;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  border-color: #dcdfe4;
  border-radius: 16px;

  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 24px;
}

.card_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero_card > a {
  text-decoration: none;
  color: #2971fe;
}

.hero_card_heading > h5 {
  margin: 0;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 28px;
  color: #172b4d;
  color: #172b4d;
}

.card_text_container > h6 {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 20px;
  color: #172b4d;
  color: #626f86;
}

.hero_card_heading {
  display: flex;
  gap: 12px;
  align-items: center;
}

.card_text_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Hero Section End */

/* Body Start End */
